*{box-sizing: border-box;}
body{
    width: 90%;
    margin: auto;
}
#logo{
    width: 100px;
    height: 100px;
}
img {
    width: 250px;
    height: 350px;
}
h1 {
    color: rgb(15, 88, 64);
}

p {
    font-size: larger;
    font-weight: bold;
    color: rgb(15, 88, 64);
}
button {
    font-size: larger;
    background-color:rgb(15, 88, 64) ;
    color: azure;
}
button:hover{
    background-color: azure;
    color:rgb(15, 88, 64) ;
}